@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #171717;
  }
}

body {
  font-family: 'Geist', sans-serif;
  background: linear-gradient(145deg, #0e0e10, #1a1c29, #0e0e10);
  color: #ffffff;
}
