@import "tailwindcss";

:root {
  --background: linear-gradient(145deg, #0e0e10, #1a1c29, #0e0e10);
  --foreground: #ffffff;
  --buttonBackground: #152342;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(145deg, #0e0e10, #1a1c29, #0e0e10);
    --foreground: #ffffff;
  }
}

body {
  font-family: 'Geist', sans-serif;
  background: linear-gradient(145deg, #0e0e10, #1a1c29, #0e0e10);
  color: #ffffff;
}
